### Alias - General
alias ll='ls -lahG'
alias clearclipboard='pbcopy < /dev/null'

### Alias - SSH
#Add public key to remote server:  	cat ~/.ssh/id_rsa.pub | ssh user@machine "mkdir ~/.ssh; cat >> ~/.ssh/authorized_keys"

### Alias - NPM
alias npmglobal='npm list -g --depth=0'
alias npmoutdated='npm outdated -g --depth=0'
alias npmglobalfolder='cd /usr/local/lib/node_modules'

## Alias - Github CLI
alias ghl='gh alias list'
# checks:   pr checks "$1"
# closed:   pr list -a morrisjosephd -s "closed"
# co:       pr checkout
# details:  issue view "$1"
# me:       issue list -a morrisjosephd -l "blue team"
# open:     pr list -a morrisjosephd
# team:     issue list -l "blue team"
# openPr:   pr create --web
