### Alias - General
alias ll='ls -lahG'
alias clearclipboard='pbcopy < /dev/null'

### Alias - SSH
#Add public key to remote server:  	cat ~/.ssh/id_rsa.pub | ssh user@machine "mkdir ~/.ssh; cat >> ~/.ssh/authorized_keys"

### Alias - NPM
alias npmglobal='npm list -g --depth=0'
alias npmoutdated='npm outdated -g --depth=0'
alias npmglobalfolder='cd /usr/local/lib/node_modules'
