#Functions
showDotFilesInFinder() {
  defaults write com.apple.finder AppleShowAllFiles TRUE
  killall Finder
}
hideDotFilesInFinder() {
  defaults write com.apple.finder AppleShowAllFiles FALSE
  killall Finder
}

function wanStatus() {
  ping 208.67.222.222
}
