# This is Git's per-user configuration file.
[user]
	name = Joe Morris
	email = joe@scriptdrop.co
[core]
	excludesfile = /Users/joemorris/.gitignore_global

[alias]
  # Simple example: `git st` expands to `git status`.
  st      = status
  # Push the current branch to a branch on origin with exactly the same name.
  put     = "push origin HEAD"
  # Force push the current branch to a branch on origin with exactly the same name.
  please  = "push --force-with-lease origin HEAD"
  # Pretty print the logs in a nice, readable oneline format.
  lg      = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue[%an]%Creset' --graph --abbrev-commit --date=relative
  # Simple example:  `git co` expands to `git checkout`
  co      = "checkout"
  # Simple example:  `git gc` expands to `git commit -m`
  gc      = "commit -m"
